html,body,h1,h2,h3,h4,input,p,div,span,a,table,td,tr{
    margin: 0;
    padding: 0;
}
:root{
    --primary-dark: #11009E;
    --primary: #4942E4;
    --secondary: #8696FE;
    --secondary-light: #C4B0FF;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* Layout */

.page-container{
    min-height: 100svh;
    background-color: var(--primary);
    display: grid;
    grid-template-rows: auto 1fr;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: var(--primary-dark);
    position: relative;
}
.title{
    left: 1em;
    display: flex;
}

[type="search"]{
    border-radius: 20px;
    border: 0;
    padding: .5em 1em;
    width: clamp(90px, 30vw, 430px);
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
    font-size: 1.5rem;
}
.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecast-container{
    margin-top: 2em;
}
.forecast{
    margin-top: .5em;
    width: clamp(300px, 50vw, 330px);
}
.forecast-container legend{
    text-align: center;
}
.forecast tr{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 500px) {
    :root{
        font-size: 12px;
    }
    .forecast{
        max-width: 230px;
    }

}
@media only screen and (max-width: 300px) {
    :root{
        font-size: 10px;
    }

}
@media only screen and (min-width: 930px) {
    [type="search"]{
       position: absolute;
       height: 50%;
       left: 50%;
       margin-left: -215px;
    }
}